<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Orders</h2>
<ul>
  {{#each @model.orders as |order|}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        {{#if this.prepared}}
          <i class="check icon"></i> {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>{{order.toPay}}€
        {{else}}
          <i class="hourglass outline icon"></i> {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        {{/if}}
      </LinkTo>
    </li>
  {{/each}}
</ul>